<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
    ul{
    	background-color:black;
    	padding:35px;
    }
    li{
    	display:inline;
    	padding:30px;
    }
    li a{
    	text-decoration:none;
    	color:white;
    }
    li a:hover{
    	border-bottom: 3px solid white;
    }
    </style>
</head>
<body align="center">
<ul>
 <li><a href="/employeeLogin">EmployeeLogin </a></li>
 <li><a href="/managerLogin">Manager Login </a></li>
 <li><a href="/employeeRegister">Employee Registration </a></li>
 <li><a href="/managerRegister">Manager Registration </a></li>
 <li><a href="">Support  </a></li>
</ul>
</body>
</html>